.detalle-container {
  max-width: 900px;
  margin: 6rem auto 3rem;
  padding: 2rem;
  /*background-color: #ffffffd8;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;*/
}


.detalle-contenido {
  display: flex;
  gap: 2rem;
  background-color: #ffffffd8;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.detalle-contenido img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 8px;
}

.detalle-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.detalle-info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.detalle-info p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #444;
}

.detalle-info strong {
  color: #1565c0;
}

/* Botón para volver */
.volver-container {
  text-align: left;
 }

.volver-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #1565c0;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.volver-button:hover {
  background-color: #0d47a1;
}

/* Responsive */
@media (max-width: 768px) {
  .detalle-contenido {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detalle-contenido img {
    width: 180px;
    height: 180px;
  }

  .detalle-info h2 {
    font-size: 1.3rem;
  }

  .detalle-info p {
    font-size: 0.95rem;
  }

  .volver-container{
   text-align: center;
  }

}
